header {
  height: 50vh;
  background: $colour6;

  h1, img {
    display: inline-block;
  }
}

header nav {
  height: 43px;
  background: $colour3;
  font-size: 2rem;
  color: $colour6;
  position: relative;
  
  &::before, &::after {
    content: "";
    width: 5vw;
    height: 43px;
    background: $colour3;
    position: absolute;
    top: 0;
  }
  
  &::before {
    left: -5vw;
  }

  &::after {
    right: -5vw;
  }
  
}

header nav ul {
  display: flex;
  justify-content: space-between;
  height: auto;
  
  div {
    display: flex;
    
    li {
      margin-right: 20px;
    }
    a {
      display: inline-block;
      color: inherit;
      text-decoration: none;
      padding: 10px;

      &:hover, &:focus {
        background: $colour2;
        color: $colour3;
      }
    }
  }
}
