.referencesForm {
  border: 2px solid black;
  padding: 20px;
  
  form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    h2 {
      grid-column: span 2;
    }

    label, input {
      // width: 40vw;
      margin: 10px;
    }

    label {
      grid-column-start: 1;
    }
    
    input, .seasonSelect {
      grid-column: 2 / span 2;
    }

    input[type=submit], button {
      grid-column: 2 / span 1;
    }

    fieldset {
      grid-column: 1 / span 3;
      // border: none;
      display: grid;
      position: relative;

      legend {
        // TODO values need to be set
        position: absolute;
        top: 20%;
      }

      .minutes {
        grid-column: 2;
      }

      .seconds {
        grid-column: 3;
      }
    }
  }

}