.referencesForm {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  background: $colour4;
  width: 60vw;
  border-radius: 5px;
  padding: 20px;
  margin: 50px auto;

  input, textarea, fieldset, .seasonSelect {
    margin-bottom: 10px;
  }

  label {
    background: $colour3;
    grid-column-start: 1;
    height: 95px;
    text-align: left;
    font-size: 2rem;
    color: $colour1;
    padding: 5px;

    &:last-of-type {
      height: 80px;
    }
  }
  
  input, .seasonSelect, textarea {
    grid-column: 2 / span 2;
    font-size: 2rem;
    // font-weight: 700;
    text-shadow: 1px 1px 2px $colour6;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
  
  input, textarea {
    background: $colour5;
    color: $colour3;
    margin-left: 10px;

    &:hover, &:focus {
      background: $colour2;
    }
  }

  input {
    height: 50px;
    margin: auto 0;
    margin-left: 10px;
  }

  input[type=number] {
    width: 50%;
  }

  .seasonSelect {

    // class names are react-select specific
    // unselected select
    .css-ql68v7-control {
      background: $colour5;
      border: none;
      
      &:hover, &:focus, &:active {
        background: $colour2;
      }
      
      .css-1wa3eu0-placeholder {
        color: $colour3;
      }
    }

    // selected select
    .css-my4s1l-control {
      background: $colour2;
      box-shadow: none;
      border: none;

      .css-1wa3eu0-placeholder {
        color: $colour3;
      }
    }

    // dropdown menu
    .css-182gzek-menu {
      background: $colour2;
    }

    // indicators control
    .css-1okebmr-indicatorSeparator {
      background: $colour3;
    }

    .css-tlfecz-indicatorContainer {
      color: $colour3;
    }
  }

  textarea {
    height: 80px;
    font-family: inherit;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  input, button {
    font-family: inherit;
  }

  input[type=submit], button {
    display: block;
    background: $colour6;
    width: 250px;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px auto;

    &:hover, &:focus {
        background: $colour2;
        color: $colour3;
    }
  }
  
  button {
    margin-top: 50px;
  }

  .buttons {
    grid-column: 1 / span 3;
    margin: 0 auto;
  }

  fieldset {
    background: $colour3;
    grid-column: 1 / span 3;
    border: none;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr);
    position: relative;

    legend, .minutes, .seconds {
      text-align: left;
    }

    legend {
      background: $colour3;
      width: 20%;
      height: 85px;
      font-size: 2rem;
      color: $colour1;
      padding: 5px;
      position: absolute;
    }

    label {
      margin-right: 10px;
    }
    
    .minutes {
      grid-column: 2;
    }

    .seconds {
      grid-column: 3;
    }
  }
}