.instructionsListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.instructionsMainContainer {

  h2 {
    background-color: $colour3;
    color: $colour6;
  }
  h3.wrapper {
    line-height: 1.8;
    margin-bottom: 25px;
    padding: 10px;
    color: $colour6;
    background-color: $colour3;
    border-radius: 10px;
    display: grid;
    place-items: center start;
  }
}

.instructionsLists {
  text-align: left;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
}

.instructionsListItems {
  p, h3 {
    line-height: 1.7
  }
  color: $colour6;
  background-color: $colour3;
  border-radius: 10px;
  display: grid;
  place-items: center start;
  padding: 10px;

  a:hover, a:focus {
    color: $colour1;
  }
}