// mobile nav @ 1135px
@media (max-width: 1135px) {
    header {
        // drop down menu
            // make hamburger menu visible
            .menuToggle {
                visibility: visible;
                position: fixed;
                z-index: 20;
    
                // NOTE make hamburger focusable?
            }
    
            input:checked ~ nav {
                right: 0;
            }
    
            nav {
                width: 100vw;
                height: 100vh;
                position: fixed;
                right: 100vw;
                bottom: 0;
                z-index: 10;
                opacity: 0.8;
                transition: all 0.5s;
    
                ul {
                    flex-direction: column;
                    justify-content: flex-start;
                    height: calc(100vh - 75px);

                    div {
                        flex-direction: column;
                        width: 100%;
                        height: auto;
    
                        li {
                            width: 85%;
                            margin: 0;
                        }
                        
                        a {
                            display: inline-block;
                            width: 100%;
                            height: auto;
                            // text-align: right;
                            padding: 10px 20px;
                            margin: 5px 0;

                        }
                    }

                    .navLinks button {
                        width: 100%;
                    }
                }
    
            }
    }
}

@media (max-width: 930px) {
    // heading 1
    body {

        h1 {
            font-size: 7rem;
        }
    }
    
    // new reference section
    .referencesForm {
        width: 80vw;
    }

    // season episodes section
    .episodeList {

        .episodeCard {
            width: calc((100% / 2) - 10px);
        }
    }
}

// approval cards @ 650px
@media (max-width: 650px) {
    // reference headings
    .episodeContainer {
        grid-template-columns: 1fr;

        .episodeRef {
            
            h5{
                width: calc(35% - 5px);
            }

            p {
                width: 65%;
            }
        }
    }
}

@media (max-width: 600px) {
    // heading 1
    body {

        h1 {
            // NOTE check @ 320px
            font-size: 5rem;
        }
    }

    header {

        img {
            padding-top: 0;
        }
        
        nav ul div li {
            width: 65%;
        }
    }

    // season episodes section
    .episodeList {

        .episodeCard {
            width: calc(100%  - 10px);
        }
    }


    .instructionsListContainer {
      grid-template-columns: 1fr;
      grid-row-gap: 25px;
    }
}